 # Import Pandas

In [1]:
import pandas as pd

# Make a dataframe that contains the heart attack data

In [2]:
ha_costs_df = pd.read_csv('../data/mmd_heart_attack_data.csv')

# Look at the first 5 rows

In [3]:
ha_costs_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

# Look at the last 5 rows

In [4]:
ha_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2651,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72097,Mayaguez Municipio,PUERTO RICO,Urban,All,undefined,28128
2652,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72113,Ponce Municipio,PUERTO RICO,Urban,All,undefined,26403
2653,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72125,San German Municipio,PUERTO RICO,Urban,All,undefined,26398
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

# Get some general info about the dataframe

In [5]:
ha_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2656 entries, 0 to 2655
Data columns (total 17 columns):
year                   2656 non-null int64
geography              2656 non-null object
measure                2656 non-null object
adjustment             2656 non-null object
analysis               2656 non-null object
domain                 2656 non-null object
condition              2656 non-null object
primary_sex            2656 non-null object
primary_age            2656 non-null object
primary_dual           2656 non-null object
fips                   2656 non-null int64
county                 2656 non-null object
state                  2656 non-null object
urban                  2656 non-null object
primary_race           2656 non-null object
primary_denominator    2656 non-null object
analysis_value         2656 non-null int64
dtypes: int64(3), object(14)
memory usage: 352.8+ KB

# Make a new dataframe that only contains data from Tennessee

In [6]:
tennessee = ha_costs_df.query('state == "TENNESSEE"')

# Check out the first five rows of this Tennessee-specific dataframe

In [7]:
tennessee.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2030,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,42749
2031,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,43661
2032,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,44423
2033,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,41240
2034,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,38968

# Find the total number of rows and columns

In [8]:
tennessee.shape

(91, 17)

# How many counties are classified as Urban?

In [9]:
tennessee_urban = tennessee.query('urban =="Urban"')

# Find the total number of rows and columns of the new urban dataframe

In [10]:
tennessee_urban.shape

(38, 17)

How many as Rural?

In [11]:
tennessee_rural = tennessee.query('urban == "Rural"')

# What is the shape of the rural dataframe?

In [12]:
tennessee_rural.shape

(53, 17)

## Examine the distribution of costs (contained in the `analysis_value` column).

In [13]:
tennessee.analysis_value.describe()

count       91.000000
mean     45762.989011
std       6574.670462
min      30831.000000
25%      41105.500000
50%      45384.000000
75%      49698.500000
max      62641.000000
Name: analysis_value, dtype: float64

## Does there appear to be a difference in costs between Urban counties and Rural counties?

### Urban

In [14]:
tennessee_urban.analysis_value.describe()

count       38.000000
mean     45748.921053
std       7109.788921
min      32279.000000
25%      40452.750000
50%      45496.500000
75%      50734.500000
max      61541.000000
Name: analysis_value, dtype: float64

In [15]:
tennessee_rural.analysis_value.describe()

count       53.000000
mean     45773.075472
std       6232.724885
min      30831.000000
25%      41240.000000
50%      45384.000000
75%      48998.000000
max      62641.000000
Name: analysis_value, dtype: float64

There doesn't appear to be a huge difference between rural and urban

# Create a DataFrame, `cancer_costs_df`, from the `mmd_cancer_data.csv` file.

In [16]:
cancer_costs_df = pd.read_csv('../data/mmd_cancer_data.csv')

## Look at the head of the DataFrame.

In [17]:
cancer_costs_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,19293
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,17151
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,19469
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,17234
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,20317

# Look at the tail of the dataframe

In [18]:
cancer_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3160,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72145,Vega Baja Municipio,PUERTO RICO,Urban,All,undefined,7364
3161,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72147,Vieques Municipio,PUERTO RICO,Rural,All,undefined,9987
3162,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72149,Villalba Municipio,PUERTO RICO,Urban,All,undefined,24127
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

## Print the shape of the `cancer_costs_df`.

In [19]:
cancer_costs_df.shape

(3165, 17)

## Keep only the rows where facilities are in TN

In [20]:
cancer_costs_tennessee = cancer_costs_df.query('state == "TENNESSEE"')

## Print the dimensions of the data. How many TN counties are represented in the cancer costs data?

In [21]:
cancer_costs_tennessee.shape

(95, 17)

There are 95 TN counties in the cancer costs data

 ## Which counties are missing from one of the datasets?

### Make a new dataframe that only contains the counties unique to the cancer dataframe

In [22]:
counties_unique = cancer_costs_tennessee[~cancer_costs_tennessee.county.isin(tennessee.county)] #the tilde (~) means NOT

### Show the unique counties

In [23]:
counties_unique

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2429,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47067,Hancock County,TENNESSEE,Rural,All,undefined,22515
2459,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47127,Moore County,TENNESSEE,Rural,All,undefined,16978
2464,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47137,Pickett County,TENNESSEE,Rural,All,undefined,16768
2483,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47175,Van Buren County,TENNESSEE,Rural,All,undefined,16244

# Examine the distribution of costs.

In [24]:
cancer_costs_tennessee.analysis_value.describe()

count       95.000000
mean     19757.894737
std       2436.304533
min      15454.000000
25%      18103.500000
50%      19563.000000
75%      21153.000000
max      27740.000000
Name: analysis_value, dtype: float64

 # Create a DataFrame, `income_df`, from the IRS CSV file.

In [25]:
income_df = pd.read_csv('../data/irs_county_2016.csv')

# View the first five rows of the dataframe

In [26]:
income_df.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152
2,1,AL,0,Alabama,3,529780,259680,80320,181410,297440,...,297770,290358,0,0,0,0,41330,40647,474140,1569463
3,1,AL,0,Alabama,4,495750,211100,141800,127420,272030,...,397940,983800,40,22,0,0,73880,110840,415850,1173195
4,1,AL,0,Alabama,5,263130,82330,137610,35760,154540,...,252940,1346083,20,27,0,0,63240,140446,194790,542205

 ## Keep only the data that pertains to Tennessee.

In [27]:
income_tennessee = income_df.query('STATE == "TN"')

## Look at the head and the tail

In [28]:
income_tennessee.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
19752,47,TN,0,Tennessee,1,39580,22400,14440,980,25390,...,6760,17669,200,287,0,0,3970,7167,16170,59567
19753,47,TN,0,Tennessee,2,439770,345410,39920,49300,188490,...,109250,62045,0,0,0,0,37380,18477,366150,366510
19754,47,TN,0,Tennessee,3,717430,398720,115040,189290,341750,...,449870,461060,0,0,0,0,63270,70761,635450,1870568
19755,47,TN,0,Tennessee,4,759340,355970,217710,159890,347430,...,629080,1669328,110,100,0,0,104290,176690,646420,1783890
19756,47,TN,0,Tennessee,5,396810,128390,215890,42240,198820,...,382580,2135577,30,29,0,0,87440,220372,302390,849648

In [29]:
income_tennessee.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
20515,47,TN,189,Wilson County,4,14400,7130,4050,2610,6520,...,12340,34654,0,0,0,0,2090,4150,12140,31712
20516,47,TN,189,Wilson County,5,9330,2890,5160,960,4600,...,9010,50591,0,0,0,0,2080,5356,7100,19970
20517,47,TN,189,Wilson County,6,7160,1060,5630,380,3560,...,7110,61964,0,0,0,0,1710,5743,5290,17041
20518,47,TN,189,Wilson County,7,10350,780,9260,240,5330,...,10330,190229,60,13,0,0,3810,19921,6270,24591
20519,47,TN,189,Wilson County,8,2370,180,2130,50,1700,...,2370,230759,1160,1817,1080,3775,1260,39698,880,9411

## Print the shape

In [30]:
income_tennessee.shape

(768, 148)

## Keep only the following columns:  `['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']`

In [31]:
income_tennessee_cut = income_tennessee[['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]

 ### Make sure I have fewer columns now

In [32]:
income_tennessee_cut.shape

(768, 15)

## rename those columns:

In [33]:
income_tennessee_cut.columns = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

# Make sure the new columns are named correctly

## df.columns prints the column names

In [34]:
income_tennessee_cut.columns

Index(['state', 'county', 'income_bucket', 'return_count', 'single_returns',
       'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents',
       'elderly', 'agi', 'returns_with_total_inc', 'total_inc_amt',
       'returns_with_unemployment', 'unemployment_comp'],
      dtype='object')

# Begin Week 2

## Create `income_dict`, a dictionary that uses the numerical codes in the income bucket column as keys and the matching descriptions ('Total', 'Under $1', 'Between 1 and $10,000', 
 'Between 10,000 and $25,000','Between 25,000 and $50,000', 'Between 50,000 and $75,000', 'Between 75,000 and $100,000', 'Between 100,000 and $200,000', '$200,000 or more') as values.

In [35]:
income_dict = {1: 'Under $1', 2: 'Between 1 and $10,000', 3: 'Between 10,000 and $25,000', 4: 'Between 25,000 and $50,000', 5: 'Between 50,000 and $75,000', 6: 'Between 75,000 and $100,000', 7:'Between 100,000 and $200,000', 8: '$200,000 or more'}

In [36]:
income_dict

{1: 'Under $1',
 2: 'Between 1 and $10,000',
 3: 'Between 10,000 and $25,000',
 4: 'Between 25,000 and $50,000',
 5: 'Between 50,000 and $75,000',
 6: 'Between 75,000 and $100,000',
 7: 'Between 100,000 and $200,000',
 8: '$200,000 or more'}

 ## Pass the dictionary as an argument to the pandas `replace()` method to change the `income_bucket` column so that it uses descriptive text instead of the numeric code.

In [44]:
income_tennessee_renamed = income_tennessee_cut.replace({"income_bucket": income_dict})

 ### Make sure my replace() command worked

In [45]:
income_tennessee_renamed

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,Under $1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,"Between 1 and $10,000",439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,"Between 10,000 and $25,000",717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,"Between 25,000 and $50,000",759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,"Between 50,000 and $75,000",396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894
19757,TN,Tennessee,"Between 75,000 and $100,000",241730,43690,182110,12690,606940,183160,71640,20916820,241730,21167809,6350,21411
19758,TN,Tennessee,"Between 100,000 and $200,000",298270,33380,254300,8230,807590,255170,91150,39800165,298270,40397276,5490,20281
19759,TN,Tennessee,"$200,000 or more",97920,8640,85910,1760,281650,97810,31990,50066256,97920,51122320,560,2401
19760,TN,Anderson County,Under $1,390,220,140,0,570,60,210,-7663,240,-7465,0,0
19761,TN,Anderson County,"Between 1 and $10,000",5170,4010,500,610,5330,1260,950,27496,5170,28135,60,156
19762,TN,Anderson County,"Between 10,000 and $25,000",8190,4670,1500,1840,13930,4590,1950,140592,8190,142497,180,597
19763,TN,Anderson County,"Between 25,000 and $50,000",8280,3750,2810,1440,16160,5090,2030,298169,8280,300960,200,699
19764,TN,Anderson County,"Between 50,000 and $75,000",4630,1390,2720,420,10470,3110,1510,284857,4630,287608,140,539
19765,TN,Anderson County,"Between 75,000 and $100,000",2950,510,2270,130,7320,2110,1090,255501,2950,257993,60,236
19766,TN,Anderson County,"Between 100,000 and $200,000",3850,380,3350,110,10020,2820,1530,516344,3850,521922,60,225
19767,TN,Anderson County,"$200,000 or more",830,60,740,0,2150,580,400,292013,830,298832,0,0
19768,TN,Bedford County,Under $1,350,180,160,0,560,60,190,-29152,270,-28891,0,0
19769,TN,Bedford County,"Between 1 and $10,000",3010,2230,340,410,3410,940,570,16447,3010,16807,40,86
19770,TN,Bedford County,"Between 10,000 and $25,000",5240,2620,950,1570,9920,3980,990,91011,5240,92214,110,275
19771,TN,Bedford County,"Between 25,000 and $50,000",6140,2580,1820,1550,13430,5500,1010,220417,6140,222211,120,315
19772,TN,Bedford County,"Between 50,000 and $75,000",2810,680,1790,300,7100,2490,690,172994,2810,174984,70,153
19773,TN,Bedford County,"Between 75,000 and $100,000",1560,160,1340,50,4240,1340,400,134313,1560,135743,40,113
19774,TN,Bedford County,"Between 100,000 and $200,000",1500,110,1350,30,4120,1270,450,193908,1500,196889,30,81
19775,TN,Bedford County,"$200,000 or more",310,40,260,0,770,210,130,171214,310,175952,0,0
19776,TN,Benton County,Under $1,140,70,60,0,220,20,80,-5320,110,-5172,0,0
19777,TN,Benton County,"Between 1 and $10,000",1100,770,170,150,1360,350,280,6035,1100,6202,20,40
19778,TN,Benton County,"Between 10,000 and $25,000",1850,880,470,470,3470,1190,510,31383,1850,31821,90,231
19779,TN,Benton County,"Between 25,000 and $50,000",1650,600,720,280,3440,1080,470,59431,1650,60110,120,373
19780,TN,Benton County,"Between 50,000 and $75,000",850,210,560,70,1940,530,290,51920,850,52520,80,260
19781,TN,Benton County,"Between 75,000 and $100,000",490,70,410,30,1230,330,180,42310,490,42785,20,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20490,TN,Weakley County,"Between 10,000 and $25,000",3360,1780,750,760,5870,1920,850,57683,3360,58521,180,451
20491,TN,Weakley County,"Between 25,000 and $50,000",3270,1320,1250,590,6700,2180,770,116175,3270,117571,230,460
20492,TN,Weakley County,"Between 50,000 and $75,000",1750,360,1230,120,4400,1410,480,107918,1750,109053,100,258
20493,TN,Weakley County,"Between 75,000 and $100,000",1010,120,860,50,2670,800,330,87228,1010,88361,40,125
20494,TN,Weakley County,"Between 100,000 and $200,000",900,100,810,0,2460,750,330,116840,900,118876,20,82
20495,TN,Weakley County,"$200,000 or more",180,0,160,0,460,130,90,74280,180,76050,0,0
20496,TN,White County,Under $1,200,90,110,0,330,20,120,-4409,160,-4362,0,0
20497,TN,White County,"Between 1 and $10,000",1860,1350,290,190,2130,450,390,9905,1860,10157,40,74
20498,TN,White County,"Between 10,000 and $25,000",3080,1540,760,720,5670,1940,720,53397,3080,54275,120,276
20499,TN,White County,"Between 25,000 and $50,000",2890,1050,1260,490,6240,2100,660,103095,2890,104092,90,181
20500,TN,White County,"Between 50,000 and $75,000",1530,270,1150,90,3830,1160,420,93302,1530,94250,70,134
20501,TN,White County,"Between 75,000 and $100,000",750,60,680,20,2090,660,220,64862,750,65462,40,105
20502,TN,White County,"Between 100,000 and $200,000",610,70,550,0,1640,480,210,77829,610,78937,0,0
20503,TN,White County,"$200,000 or more",110,0,100,0,300,90,50,40277,110,41660,0,0
20504,TN,Williamson County,Under $1,1600,870,610,60,2690,700,570,-242930,1360,-240149,0,0
20505,TN,Williamson County,"Between 1 and $10,000",14170,12940,680,420,6760,1060,1640,63757,14170,66080,70,207
20506,TN,Williamson County,"Between 10,000 and $25,000",11970,8590,1810,1350,16030,3930,2890,204554,11970,210313,130,507
20507,TN,Williamson County,"Between 25,000 and $50,000",15000,8190,4170,2090,27130,8140,3540,553344,15000,567256,250,1038
20508,TN,Williamson County,"Between 50,000 and $75,000",11410,4210,5610,1220,25110,8120,3280,708202,11410,725157,220,697
20509,TN,Williamson County,"Between 75,000 and $100,000",10010,2100,7070,620,26240,9170,2990,873276,10010,890366,210,743
20510,TN,Williamson County,"Between 100,000 and $200,000",23520,2170,20310,810,71080,27280,5840,3313474,23520,3378406,410,1365
20511,TN,Williamson County,"$200,000 or more",15450,790,14260,310,51170,21470,3380,7627633,15450,7785645,140,568
20512,TN,Wilson County,Under $1,760,410,300,30,1170,150,380,-39647,600,-38695,0,0
20513,TN,Wilson County,"Between 1 and $10,000",8460,7070,690,570,6710,1380,1420,43692,8460,44964,60,202
20514,TN,Wilson County,"Between 10,000 and $25,000",11330,7160,1850,2040,17420,5260,2650,194030,11330,197522,200,673
20515,TN,Wilson County,"Between 25,000 and $50,000",14400,7130,4050,2610,27040,8660,3140,526285,14400,534076,260,816
20516,TN,Wilson County,"Between 50,000 and $75,000",9330,2890,5160,960,21000,6520,2440,577200,9330,585294,160,530
20517,TN,Wilson County,"Between 75,000 and $100,000",7160,1060,5630,380,18780,6000,1910,621704,7160,629408,130,485
20518,TN,Wilson County,"Between 100,000 and $200,000",10350,780,9260,240,29640,10040,2600,1384798,10350,1404054,170,600
20519,TN,Wilson County,"$200,000 or more",2370,180,2130,50,6720,2220,700,948065,2370,968457,30,118

 ## Use the pandas `groupby()` method to group the data by county and get the `sum()` of all numeric columns for that county.

In [41]:
counties_sum = income_tennessee_renamed.groupby(['county']).sum()

 ## Be sure to also `reset_index()` so that our aggregated data is re-indexed to begin at 0. Save this as a DataFrame called `income_county_agg`

In [42]:
income_county_agg = counties_sum.reset_index()

 ## Look at the first few rows.

In [48]:
income_county_agg.head()

,county,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
0,Anderson County,34290,14990,14030,4550,65950,19620,9670,1807309,34140,1830482,700,2452
1,Bedford County,20920,8600,8010,3910,43550,15790,4430,971152,20840,985909,410,1023
2,Benton County,6610,2660,2840,1000,13020,3890,2000,269227,6580,272971,360,1119
3,Bledsoe County,4560,1620,2220,610,9690,3100,1200,178860,4540,181231,160,458
4,Blount County,59550,25090,26650,6550,115820,33400,16880,3333654,59350,3381616,1190,3551